.question {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #666;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}
