.checkbox {
    height: 32px;
    font-size: 14px;
    align-items: center;
    display: inline-flex;
    user-select: none;

    &,
    * {
        cursor: pointer;
    }

    &:hover {
        .square {
            background-color: #d0e8fe;
            border-color: #0987e5;
        }
    }

    &:global(.checked) {
        .square {
            background-color: #0987e5;
            border-color: #0987e5;
        }

        .tick {
            visibility: visible;
        }
    }

    &:global(.disabled) {
        &,
        * {
            cursor: not-allowed;
        }

        .square {
            background-color: #dddddd;
            border-color: #cecece;
        }
    }

    &:global(.checked.disabled) {
        .square {
            background-color: #ffffff;
            border-color: #cecece;
        }

        .tick {
            visibility: visible;
            border-color: #999;
        }
    }
}

.square {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    position: relative;

    border: 1px solid #cecece;
    border-radius: 2px;
}

.tick {
    position: absolute;
    left: 3px;
    width: 6px;
    height: 9px;
    transform: rotate(45deg);
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    visibility: hidden;
}
