$input-border-color: #CCCCCC;

$input-height: 32px;

@mixin input-base {
    width: 100%;
    height: $input-height;
    padding: 6px 10px;

    outline: none;
    border: 1px solid $input-border-color;
    border-radius: 2px;

    color: #333333;
    line-height: $input-height;
}

@mixin input-active {
    border: 1px solid #6B9AC8;
}

@mixin input-disabled {
    cursor: not-allowed;
    background: #E0E0E0;
}

@mixin input-error {
    border: 1px solid #E65C5C;
}

@mixin input-size-small {
    width: 240px;
}

@mixin input-size-normal {
    width: 376px;
}

@mixin input-size-large {
    width: 480px;
}
