* {
    margin: 0;
    padding: 0;
}

html, body, :global(#app) {
    height: 100%;
}

body {
    overflow: hidden;
}

:global(#app) > div:last-child {
    height: calc(100% - 52px);
}


:global .markdown {
    padding: 16px;
}

:global .doc-wrap {
    height: 100%;
    display: flex;
}

:global .doc-sidebar {
    width: 40%;
    border-right: 1px solid #DEDEDE;
    overflow: auto;
}

:global .doc-main {
    overflow: auto;
    padding: 16px;
    flex: 1;
}

:global .doc-example {
    position: relative;
    margin-bottom: 24px;
    border: 1px solid #DEDEDE;
}

:global .doc-example-preview {
    width: 100%;
    padding: 42px 24px 50px;
    border-bottom: 1px solid #DEDEDE;
}


:global .doc-example-document {
    font-size: 14px;

    header {
        position: absolute;
        margin: -10px 0 0 24px;
        font-weight: bold;
        background-color: #fff;
    }

    main {
        padding: 24px;
    }
}

