* {
    margin: 0;
    padding: 0;
}

html, body, :global(#app) {
    height: 100%;
}

body {
    overflow: hidden;
}

:global(#app) > div:last-child {
    height: calc(100% - 52px);
}


:global .markdown {
    padding: 16px;
}

:global .doc-wrap {
    height: 100%;
    display: flex;
}

:global .doc-sidebar {
    width: 40%;
    border-right: 1px solid #DEDEDE;
    overflow: auto;
}

:global .doc-main {
    overflow: auto;
    padding: 16px;
    flex: 1;
}