.icon {
    display: inline-block;
    cursor: pointer;

    &:global(.large) {
        font-size: 24px;
    }

    &:global(.normal) {
        font-size: 16px;
    }

    &:global(.small) {
        font-size: 12px;
    }

    .svg-icon-symbol {
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
    }
}
