.icon {
    display: inline-block;
    cursor: pointer;

    font-family: "FontMammut", serif !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:global(.large) {
        font-size: 24px;
    }

    &:global(.normal) {
        font-size: 16px;
    }

    &:global(.small) {
        font-size: 12px;
    }
}
