<div class="ui-input {className} {styles.wrap} {size}" r-class="{{disabled: disabled, inline: inline, 'with-prefix': prefixTemplate !== '', 'with-suffix': suffixTemplate !== ''}}">
    {#if prefixTemplate}
    {#include prefixTemplate}
    {/if}
    <ui-cdk-input
        defaultValue="{defaultValue}"
        value="{value}"
        disabled="{disabled}"
        name="{name}"
        placeholder="{placeholder}"
        readonly="{readonly}"
        type="{type}"
        on-blur="{this.handleBlur($event)}"
        on-change="{this.handleChange($event)}"
        on-focus="{this.handleFocus($event)}"
        on-keyup="{this.handleKeyup($event)}"
    ></ui-cdk-input>
    {#if suffixTemplate}
    {#include suffixTemplate}
    {/if}
    {#if value && allowClear}
    <div class="{styles.closeIcon}">
        <ui-icon type="close-circle" style="{{color: '#ccc'}}" on-click="{this.handleClear()}"></ui-icon>
    </div>
    {/if}
</div>
