@import 'assets/scss/mixins/input.mixin';

.wrap {
    position: relative;

    &:global(.small) {
        @include input-size-small;
    }

    &:global(.normal) {
        @include input-size-normal;
    }

    &:global(.large) {
        @include input-size-large;
    }

    &:global(.inline) {
        display: inline-block;
    }

    &:global(.with-prefix) {
        input {
            padding-left: 32px;
        }

        & > :global(.ui-icon):first-child {
            cursor: text;
            position: absolute;
            left: 8px;
            top: 8px;
        }
    }

    &:global(.with-suffix) {
        input {
            padding-right: 32px;
        }

        & > :global(.ui-icon):last-child {
            cursor: text;
            position: absolute;
            right: 8px;
            top: 8px;
        }
    }
}

.closeIcon {
    position: absolute;
    height: 30px;
    width: 30px;
    right: 1px;
    top: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}
